/* nav bar color scheme */
.navbar-custom {
  background-color: #d9edf7;
  border-color: #bee0f1;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#d9edf7));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #d9edf7, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d9edf7 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #d9edf7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9edf7', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #777777;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #777777;
}
.navbar-custom .navbar-nav > li:last-child > a {
  /* border-right: 1px solid #bee0f1; */
  border-right: 1px solid transparent;
}
.navbar-custom .navbar-nav > li > a {
  color: #777777;
  /*border-left: 1px solid #bee0f1;*/
  border-left: 1px solid transparent;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #333333;
  background-color: #bee0f1;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bee0f1), to(#e8f4fa));
  background-image: -webkit-linear-gradient(top, #bee0f1, 0%, #e8f4fa, 100%);
  background-image: -moz-linear-gradient(top, #bee0f1 0%, #e8f4fa 100%);
  background-image: linear-gradient(to bottom, #bee0f1 0%, #e8f4fa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbee0f1', endColorstr='#ffe8f4fa', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #bcdff1;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #bee0f1;
  color: #333333;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333333;
    background-color: #bee0f1;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #777777;
}
.navbar-custom .navbar-link:hover {
  color: #333333;
}

/* Big ol' submit button */
.btn-xl {
  padding: 18px 28px;
  font-size: 22px;
  border-radius: 8px;
}

/* Queued job table refresh button */
.btn-refresh {
  bottom: 15px;
  position: relative;
  top: 20px;
}

/* Job log viewing */
#logModal .modal-dialog {
  width: 85%;
}

div.log {
  margin: 0 0 0 0;
  padding: 1em;
  font-family: monospace;
  background-color: #000;
  color: #090;
}

div.log hr {
  border-top: 1px solid #090;
}

div.log > div.line {
  white-space: pre;
}

div.log > div.error {
  color: #C00;
}

/* Bootstrap table loading spinner */
.fixed-table-loading {
    border-top: 2px solid #ddd;
    padding-top: 15px;
}

/* Thank you, http://chadkuehn.com/animated-font-spinners/ !!! */
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
  font-size: 4.0em;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
